@import 'tailwindcss';
/* Inter Tight and Inconsolata */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@import './base.css';
@import './components.css';
@import './utilities.css';
